CompileFlags:
    Add: [-std=c++20, -Wall, -xc++]
Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: ["modernize*", "bugprone-*", "performance-inefficient-*", "readability*",  "clang-analyzer-core*", "clang-analyzer-cplusplus.InnerPointer", "hicpp*", "cppcoreguidelines*", "performance*"]
    Remove: ["modernize-use-trailing-return-type", "readability-identifier-length", "*magic-numbers*", "hicpp-avoid-c-arrays", "cppcoreguidelines-owning-memory"]


InlayHints:
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

